<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/404.*'].path %>">
  </head>
  <body>
    <%= render '/header.*' %>
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper d-flex justify-content-center">
            <div class="main class">
              <%= yield %>
              <%= render '/footer.*' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render '/docsearch.*' %>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/404.*'].path %>"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="<%= @items['/frontend/404/404.*'].path %>"></script>
  <% if production? %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  </body>
</html>
